<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Search Result</h1>
<p>Owner ID: <%= ownerID %></p>
<% if (results.length > 0) { %>
    <ul>
        <% results.forEach(result => { %>
            <li>
                <p>Item: <%= result.itemName %></p>
                <p>Quantity for <%= result.itemName %>: <%= result.quantity %></p>
            </li>
        <% }); %>
    </ul>
<% } else { %>
    <p>No results found for <%= itemName %>.</p>
<% } %>

</body>
</html>

