<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Search Result</h1>
    <p>Item: <%= itemName %></p>
    <% if (quantity === 'yes') { %>
        <% if (results.length > 0) { %>
            <ul>
                <% results.forEach(result => { %>
                    <li>
                        <p>Quantity for <%= itemName %>: <%= result[itemName] %></p>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No results found for <%= itemName %>.</p>
        <% } %>
    <% } else { %>
        <p>Quantity: <%= quantity %></p>
    <% } %>
</body>
</html>

